@use "../../others/colors";

.buttonG {
    padding: 0.5rem 1rem; 
    background-color: #000000;
    border-radius: 10px; 
    transition: all 0.3s ease-in-out;
    border: none;
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .textbtn{
      font-size: 1rem;
      color: #ffffff;
      font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
    }

    &:hover {
      background: colors.$greyFH; 
    }
  }