@use "../../others/colors";

.containerComponentInput{
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;

    label{
        font-size: 1.2rem;
        font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
    }

    .textC{
        width: 100%;
        font-size: 1.2rem;
        font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
        padding: 5px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid colors.$grey;

        &:focus{
            outline: none;
            border: 2px solid #000;
        }
    }

    .inputError{
        font-size: 1rem;
        font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
        color: #ff0000;
        position: absolute;
        bottom: 0;
        left: 10px;
    }
}