@use "../../others/colors";

.containerTComponent {
    width: 90%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: OpenSansBold, Arial, Helvetica, sans-serif;
        color: colors.$violetBlue;
        margin-block: 20px;
        font-size: 2rem;
    }

    .containerfilter {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ticketsArea {
        width: 100%;
        display: flex;
        flex-direction: column;

        .tickets {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .bottomR {
            margin-top: 30px;
        }
    }

    .errorMenssage {
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ticketElement {
    width: calc(10% - 5px);
    height: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$powderBlue;
    margin: 5px 2.5px;
    border-radius: 10px;
    position: relative;

    p {
        font-size: 2rem;
        font-family: OpenSansBold, Arial, Helvetica, sans-serif;
        z-index: 2;
        color: #000;
    }
}

.ticketElementN {
    background-color: transparent;

    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
}

@media (max-width: 500px) {
    .containerTComponent{
        h2{
            margin-block: 10px;
        }

        .containerfilter{
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 430px) {
    .ticketElement{
        width: calc(20% - 10px);
        margin: 5px 5px;
    }
}