@use "../others/colors";

.containerCreateRaffle{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: auto;

    .arrowBack{
        position: absolute;
        left: 20px;
        cursor: pointer;
        scale: 1.1;
    }

    h2{
        font-size: 2rem;
        font-family: OpenSansBold, Arial, Helvetica, sans-serif;
        margin-block: 30px;
    }

    form{
        flex: 1;
        width: 90%;
        max-width: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .containerInputTwo{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .containerI{
                width: 50%;
                height: 80px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                position: relative;
                margin-bottom: 10px;

                input{
                    background: #fff;
                }
            
                label{
                    font-size: 1.2rem;
                    font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                }
            
                .textC{
                    width: 100%;
                    font-size: 1.2rem;
                    font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
                    padding: 5px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid colors.$grey;
                    text-align: center;
            
                    &:focus{
                        outline: none;
                        border: 2px solid #000;
                    }
                }
            
                .inputError{
                    font-size: 1rem;
                    font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                    color: #ff0000;
                    position: absolute;
                    bottom: 0;
                    left: 10px;
                }
            }
        }

        .imageInputC{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            position: relative;
            margin-bottom: 10px;

            .textP{
                font-size: 1.2rem;
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
            }

            .custum-file-upload {
                height: 150px;
                width: 100%;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                border: 2px dashed colors.$grey;
                background-color: #ffffff;
                padding: 1rem;
                border-radius: 10px;
                margin-top: 20px;
              
                .icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
              
                  svg {
                    fill: colors.$grey;
                  }
                }
              
                .textU {
                  color: colors.$grey;
                }
            }   

            .previewC{
                height: 200px;
                min-width: 200px;
                overflow: hidden;
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                box-shadow: 0 0 4px #00000070;
                margin-top: 20px;
                position: relative;
                
                .imagePreview{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    margin: 0 auto;
                }
                
                .editI{
                    height: 30px;
                    background-color: colors.$redViolet;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.2rem;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 20px;
                    cursor: pointer;
                    position: absolute;
                    bottom: 10px;
                    font-family: OpenSansSemiBold;

                    svg{
                        margin-left: 10px;
                    }

                    &:hover{
                        background-color: #c8559e;
                    }
                }
            }
              
            input {
                display: none;
            }

            .inputError{
                height: 1rem;
                font-size: 1rem;
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                color: #ff0000;
                margin-top: 5px;
            }
        }

        .textAreaC{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 10px;
            position: relative;
            margin-bottom: 10px;

            textarea{
                background: #fff;
            }

            label{
                font-size: 1.2rem;
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
            }
        
            .textC{
                width: 100%;
                font-size: 1.2rem;
                font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
                padding: 5px;
                min-height: 150px;
                max-height: 300px;
                border-radius: 5px;
                border: 1px solid colors.$grey;
        
                &:focus{
                    outline: none;
                    border: 2px solid #000;
                }
            }

            .countCharacters{
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        
            .inputError{
                height: 1rem;
                font-size: 1rem;
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                color: #ff0000;
                margin-top: 5px;
            }
        }

        .containerCheck{
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 10px;
            margin-bottom: 10px;

            .instructionsP{
                font-size: 1.2rem;
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                margin-bottom: 20px;
            }

            .checks{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                label{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-family: OpnSansRegular, Arial, Helvetica, sans-serif;
                    font-size: 1.2rem;
                    
                    input{
                        cursor: pointer;
                        margin-right: 3px;
                        background-color: #fff;

                        &:checked{
                            background-color: #fff;
                        }
                    }
                }
            }
            
            .inputError{
                height: 1rem;
                font-size: 1rem;
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                color: #ff0000;
                margin-top: 5px;
            }
        }

        .paymentI{
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            h2{
                font-size: 1.8rem;
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                margin: 0;
                margin-bottom: 15px;
            }

            .textP{
                width: 90%;
                font-size: 1.2rem;
                text-align: center;
                color: colors.$grey;
            }

            .inputsP{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }

    .buttonsC{
        width: 90%;
        max-width: 650px;
        margin-bottom: 20px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 800px) {
    .containerCreateRaffle{
        .arrowBack{
            position: relative;
            left: 0;
            margin-right: 10px;
        }
    }
}

@media (max-width: 675px) {
    .containerCreateRaffle{
        form{
            .containerInputTwo{
                .containerI{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .containerCreateRaffle{
        form{
            .containerCheck{
                .checks{
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }
}