@use "../others/colors";

.containerDashAdmin{
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;

    main{
        width: 100%;
        height: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .topR{
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px;
        }

        .midR{
            flex: 4;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .bottomR{
            flex: .5;
            width: 100%;
        }
    }
}