@use "../others/colors";

.containerLogin{
    overflow: hidden;
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-image: url("../assets/images/backLogin.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;

    main{
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .containerFL{
            background-color: #CFCFCF40;
            padding: 40px 20px;
            border-radius: 25px;
            box-shadow: #00000075 0px 4px 4px;
            backdrop-filter: blur(7px);
            -moz-backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;

            h2{
                font-family: OpenSansBold, Arial, Helvetica, sans-serif;
                color: #fff;
                font-size: 2.2rem;
                margin-bottom: 35px;
            }

            .inputC{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 90%;
                margin-bottom: 15px;
                overflow: hidden;
                position: relative;

                label{
                    font-size: 1.4rem;
                    font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                    margin-bottom: 10px;
                    color: #fff;
                }

                input{
                    height: 40px;
                    width: 100%;
                    border: none;
                    padding: 5px;
                    font-size: 1.4rem;
                    border-radius: 5px;
                    transition: all 0.3s ease;
                    color: #fff;
                    background-color: #ffffff40;
                    border-bottom: 4px solid #ffffff00;

                    &:focus{
                        outline: none;
                        border-bottom: 4px solid #fff;
                    }

                    &::placeholder{
                        color: #ffffffbb;
                    }
                }

                .containerPass{
                    width: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    
                    svg{
                        position: absolute;
                        right: 10px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        &:hover{
                            scale: 1.1;
                        }
                    }
                }

                p{
                    position: absolute;
                    bottom: 0;
                    font-size: 1.2rem;
                    font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                    color: #ff0000;
                }

                .email{
                    margin-bottom: 20px;
                }
            }

            .loginIcon{
                margin-left: 10px;
            }
        }
    }
}