footer{
    height: 100px;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;

    .contact{
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .name, .phone{
            color: #fff;
            font-family: OpenSansBold, Arial, Helvetica, sans-serif;
            font-size: 2rem;
        }
        svg{
            margin: 0 20px;
        }
    }

    .copyright{
        color: #fff;
        font-size: 1.4rem;
        text-align: center;
    }
}

@media (max-width: 800px) {
    footer{
        .contact{
            .name, .phone{
                font-size: 1.6rem;
            }
        }
    }
}

@media (max-width: 500px) {
    footer{
        .contact{
            flex-wrap: wrap;
            .name{
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }

            .name, .phone{
                font-size: 1.4rem;
            }

            svg{
                width: 2rem;
                height: 2rem;
                margin: 0;
                margin-right: 10px;
            }
        }

        .copyright{
            font-size: 1rem;
        }
    }
}