@use "../../others/colors";

.containerRandomTicketForm {
    width: 90%;
    max-width: 650px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 4px #00000070;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .inputRF {
        height: 90px;
        margin-bottom: 0;
        padding-top: 0;
        padding: 0;

        label {
            font-size: 1.4rem;
        }

        input {
            height: 40px;
            font-size: 1.4rem;
        }

        .inputError {
            font-size: 1.3rem;
        }
    }

    .containerAddBtn {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .ticketsS {
            max-width: 50%;
            font-family: OpenSansBold, Arial, Helvetica, sans-serif;
            font-size: 1.6rem;
        }
    }

    .ticketsRR {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;

        .errorPage {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 150px;

            p {
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                color: colors.$grey;
                font-size: 1.8rem;
                text-align: center;
            }
        }

        .ticketsSelected {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;

            .ticketS {
                width: 100%;
                height: 50px;
                margin-block: 10px;
                border-radius: 10px;
                box-shadow: 0 0 4px colors.$grey;
                background-color: #fff;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                p {
                    font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                    font-size: 1.4rem;
                    margin-left: 10px;
                }
            }
        }
    }

    .containerTotalC {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-block: 20px;

        .totalTxt {
            max-width: 30%;
            font-family: OpenSansBold, Arial, Helvetica, sans-serif;
            font-size: 2rem;
        }
    }

    .containerPayM {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        p {
            font-size: 1.4rem;
            font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
            color: colors.$grey;
            margin-bottom: 2px;
            text-align: center;

            span {
                font-size: 1.4rem;
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
            }
        }
    }
}

.swalHTMLBuy {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: #000;
            font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
        }

        span {
            color: colors.$redViolet;
            font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
            font-size: 1.3rem;
            margin-block: 10px;
        }

        strong {
            color: colors.$redViolet;
            font-family: OpenSansBold, Arial, Helvetica, sans-serif;
            font-size: 1.3rem;
            margin-block: 10px;
        }
    }
}

@media (max-width: 800px) {
    .containerRandomTicketForm {
        width: 100%;
        padding: 10px 10px 20px 10px;
    }
}

@media (max-width: 475px) {
    .containerRandomTicketForm {
        .inputRF{
            margin-bottom: 10px;
        }

        .containerAddBtn{
            flex-direction: column-reverse;
            width: 90%;
            
            .ticketsS{
                margin-top: 10px;
                max-width: 100%;
            }
        }

        .ticketsRR{
            .ticketsSelected{
                .ticketS{
                    height: 35px;
                    border-radius: 5px;
                }
            }
        }

        .containerTotalC{
            flex-direction: column;
            width: 90%;
            align-items: flex-end;

            .totalTxt{
                margin-bottom: 10px;
                max-width: 100%;
            }
        }
    }
}