@use "../../others/colors";

.ticketComponent{
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 4px #00000075;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;

    svg{
        margin-bottom: 10px;
    }

    h2{
        font-size: 2rem;
        font-family: OpenSansBold, Arial, Helvetica, sans-serif;
        color: colors.$violetBlue;
    }

    .code{
        font-size: 1.2rem;
        color: #ff0000;
        margin-bottom: 20px;
    }

    .containerDataPurchase{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        p{
            font-size: 1.3rem;
            margin-bottom: 5px;
        }

        .value{
            font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
        }
    }

    .contTickets{
        width: 100%;
        margin-top: 20px;
        
        .error{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;

            p{
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                color: colors.$grey;
                font-size: 1.4rem;
                width: 50%;
                text-align: center;
            }
        }
    }

    hr{
        width: 100%;
        height: 1px;
        background-color: colors.$grey;
    }

    .totalContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .text{
            display: flex;
            align-items: center;
            flex-direction: row;

            svg{
                margin: 0;
            }

            p{
                font-size: 2rem;
                font-family: OpenSansBold, Arial, Helvetica, sans-serif;
            }
        }

        p{
            font-size: 2rem;
            font-family: OpenSansBold, Arial, Helvetica, sans-serif;
        }
    }

    .message{
        width: 70%;
        color: #000;
        font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 1.4rem;
        margin: 30px 0;
    }

    .containerPayM{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        p{
            font-size: 1.4rem;
            font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
            color: colors.$grey;
            margin-bottom: 2px;
            text-align: center;

            span{
                font-size: 1.4rem;
                font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
            }
        }
    }
}

.containerTicketOnTicket{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 4px #00000075;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #A3A3A375;

    p{
        font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
    }

    .number{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        svg{
            margin: 0;
            margin-right: 10px;
        }
    }
}