@use "../others/colors";

.welcomeContainer{
    height: auto;
    min-height: 100vh;
    padding: 0;
    padding-top: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  url("../assets/images/petra_y_maria.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .containerInstructions{
        width: 90%;
        max-width: 1200px;
        height: auto;
        border-radius: 25px;
        background-color: #CFCFCF40;
        border-radius: 25px;
        box-shadow: #00000075 0px 4px 4px;
        backdrop-filter: blur(15px);
        -moz-backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        overflow: hidden;
        margin: 50px 0;

        .dataC{
            background-color: #00000075;
            box-sizing: border-box;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .iconC{
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background-color: colors.$powderBlue;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            h2{
                font-family: OpenSansBold, Arial, Helvetica, sans-serif;
                font-size: 2.4rem;
                margin-top: 15px;
                color: #fff;
            }

            .containerSub{
                width: 100%;
                margin: 15px 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                svg{
                    margin-right: 20px;
                }

                h3{
                    font-family: OpenSansSemiBold, Arial, Helvetica, sans-serif;
                    font-size: 1.8rem;
                    color: #fff;
                }
            }

            ul{
                width: 90%;

                li{
                    font-size: 1.4rem;
                    color: #fff;
                    margin-bottom: 10px;
                }
            }
        }

        .dataCRight{
            background-color: transparent;
            align-items: flex-start;

            h2{
                color: #000;
                margin-bottom: 50px;
                font-size: 2.4rem;
            }

            ol{
                width: 90%;
                display: flex;
                align-self: center;
                flex-direction: column;

                li, a{
                    font-size: 1.4rem;
                    color: #000;
                    margin-bottom: 10px;
                    font-family: OpenSansRegular, Arial, Helvetica, sans-serif;

                    a{
                        color: #0059ff;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .containerWin{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #00000075;
                border-radius: 10px;
                margin: 10px 0 30px 0;
                padding: 20px;

                p{
                    color: #fff;
                    font-size: 1.6rem;
                    text-align: center;
                    width: 75%;
                }
            }

            .iconBtn{
                margin-right: 20px;
            }
        }
    }
}

@media (max-width: 500px){
    .welcomeContainer{
        .containerInstructions{
            .dataC{
                h2{
                    font-size: 3rem;
                }

                .containerSub{
                    h3{
                        font-size: 2.2rem;
                    }
                }

                ul{
                    li{
                        font-size: 1.6rem;
                    }
                }
            }

            .dataCRight{
                h2{
                    margin-bottom: 20px;
                }

                ol{
                    li, a{
                        font-size: 1.6rem;
                    }
                }

                .containerWin{
                    padding: 10px;

                    p{
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}